/.DS_Store
/.vscode
/02_end_to_end_machine_learning_project.ipynb
/Books_small.json
/DB Projects
/Data Visualisation
/ETH_1h.csv
/az_reviews.csv
/corey_pandas.ipynb
/corey_pandas2.ipynb
/data
/datasets
/housing.ipynb
/images
/ml_experiment.ipynb
/modified.csv
/random_experiments.code-workspace
/test.py
/testvenv
/venv